[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "vmaf"]
	path = vmaf
	url = https://github.com/Netflix/vmaf.git
[submodule "x264"]
	path = x264
	url = https://github.com/mirror/x264.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "nasm"]
	path = nasm
	url = https://github.com/netwide-assembler/nasm.git
[submodule "l-smash"]
	path = l-smash
	url = https://github.com/l-smash/l-smash.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "srt"]
	path = srt
	url = https://github.com/Haivision/srt.git
[submodule "x265"]
	path = x265
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "uavs3d"]
	path = uavs3d
	url = https://github.com/uavs3/uavs3d.git
[submodule "davs2"]
	path = davs2
	url = https://github.com/pkuvcl/davs2.git
[submodule "avs2stream"]
	path = avs2stream
	url = https://github.com/pkuvcl/avs2stream.git
[submodule "avs3stream"]
	path = avs3stream
	url = https://github.com/uavs3/avs3stream.git
[submodule "vvdec"]
	path = vvdec
	url = https://github.com/fraunhoferhhi/vvdec.git
[submodule "vulkan_loader"]
	path = vulkan_loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "vulkan_header"]
	path = vulkan_header
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "libplacebo"]
	path = libplacebo
	url = https://github.com/haasn/libplacebo.git
[submodule "cms"]
	path = cms
	url = https://github.com/mm2/Little-CMS.git
[submodule "aom"]
	path = aom
	url = https://aomedia.googlesource.com/aom
